body {
    background-color: burlywood;
}

#judul {
    text-align: left;
    font-family: Arial;
    color: darkred;
    margin-top: 0px;
    padding-top: 5px;
    font-size: 20;
    width: 100%;
    border-bottom: 5px solid darkred;
    background-color: burlywood;
}

.intro {
    text-align: center;
}

#fotoprofil {
    display: block;
    float: left;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 100px;
}

#isian {
    padding-top: 150px;
    padding-left: 450px;
}

#hello {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#isianhello {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#biodata {
    margin-top: 150px;
    text-align: center;
}

#judulbiodata {
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 40px;
}

#tabledatadiri {
    padding-bottom: 100px;
}

.textbiodata {
    font-size: 25px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.barisbiodata {
    text-align: left;
    padding-right: 30px;
}

.contact {
    text-align: center;
}